{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{% apply spaceless %}
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{{  data_array.data.assets_url }}/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Purencool editor"/>
    <link rel="apple-touch-icon" href="{{  data_array.data.assets_url }}/logo192.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-html.js"></script>
    <link rel="stylesheet" href="{{ data_array.data.assets_url }}/assets/dist/assets/index-Dc_uFyTq.css"/>
    <script type="module" crossorigin src="{{ data_array.data.assets_url }}/assets/dist/assets/index-DAE8KTve.js"></script>
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_classnames-ELZfJkp_.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_react-B5CIjaDA.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_scheduler-BF-YhwgH.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_react-dom-Cg6Xop6J.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_@babel-Dxhdoqxo.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_rc-util-DiG1V1Yx.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_rc-slider-mP6mgGEM.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_jquery-D7INfxrl.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_state-pool-imnDRRKN.js">
    <link rel="modulepreload" crossorigin href="{{ data_array.data.assets_url }}/assets/dist/assets/vendor_axios-upsvKRUO.js">
    <title>Code Editor</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>
        window.purencool_editor_config={
        scss_api_url:"{{data_array.data.http_url}}admin/browser-development/api",
        compile_api_url:"{{data_array.data.http_url}}admin/browser-development/api",
        open_api_url:"{{data_array.data.http_url}}admin/browser-development/api",
        "connect_api_url": "undefined",
        "default_iframe_url": location.protocol + '//' + location.host,
        "css_files": {
          "default": { "name": "Default theme", "class_identifier": ".main-content" },
          "inline": { "name": "Inline header", "class_identifier": ".main-content" },
          "admin": { "name": "Admin theme", "class_identifier": ".admin-body" }
        },
      }
    </script>

    <!-- <pre> {{ data_array.data_debug }} </pre> -->
  </body>
</html>
{% endapply %}
